*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: blue;
    color: whitesmoke;
    font-size: 35px;

}
section{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(208, 242, 255);
    padding: 50px;
}
h1 {
    color: rgb(103, 32, 218); 
}
h2 {
    color: rgb(118, 171, 252)
}